// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$my-red: #E76F51;
$my-orange: #F4A261;
$my-yellow: #F9C74F;
$my-dull-yellow: #E9C46A;
$my-green: #90BE6D;
$my-turquoise: #43AA8B;
$my-blue: #277DA1;
$my-light-blue: #BDE0FE;
$my-pink: #FFC8DD;
$my-purple: #CDB4DB;
