@import "lists";

.accordion-body {
  font-size: 12px;
  color: white;
  background-color: transparent;
}

.accordion-button {
  background-color: transparent;
  font-size: 24px;
  font-weight: bold;
  color: white;
  transition: 0.20s;
  border: none;
  border-color: transparent;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: white;
  border: none;
  border-color: transparent;
}

.accordion {
  --bs-accordion-border-color: #00000000;
}

// .accordion-button:hover {
//   background-color: rgba($color: black, $alpha: 0.20);
//   transition: 0.50s;
// }

.in-front {
  z-index: 10;
}

h2 {
  color: black;
}

li {
  color: black;
}
