<div class="container" style="text-align:center">

  <%= "#{current_user.username.nil? ? current_user.email : current_user.username.capitalize}'s" %>  Profile Page </h1>
  <h1 class="mt-4 mb-4 primary">

  <div class="list-group">
    <div class="card border border-3 border-primary mb-3" style="width: 80%; height: 10rem; background-color: rgba(245, 245, 245, 0.6);">
      <h5 class="card-title">
        <%= link_to "Edit Profile", edit_user_registration_path(current_user), data: {turbo_method: :edit}, class: "dropdown-item" %>
      </h5>
    </div>
    <div class="card border border-3 border-primary mb-3" style="width: 80%; height: 10rem; background-color: rgba(245, 245, 245, 0.6);">
      <h5 class="card-title">
        <%= button_to "Log out", destroy_user_session_path, method: :delete, form: {  data: { turbo: :false } }, class: "dropdown-item" %>
      </h5>
    </div>
  </div>
</div>
