</div class="container">
  <h1 style="text-align: center">Your Wallet</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="card-group mt-2">
            <% current_user.lists.each do |list| %>
              <div class="card bg-light mb-3 h-50" style="max-width: 18rem;">
                <div class="card-body">
                  <div class="card-title"><%= list.name %></div>
                    <p class="card-text">
                      <% user_difference = current_user.list_purchases(list).sum(&:price_paid) - list.list_products_total(list) %>
                      <% if user_difference == 0 %>
                        <%= "You owe nothing to this list" %>
                        <% elsif user_difference < 0 %>
                        <%= "You owe £#{user_difference.abs} to this list" %>
                        <% else %>
                        <%= "You are owed £#{user_difference} to this list" %>
                      <% end %>
                    </p>
                  </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
</div>
