<div class="footer d-flex justify-content-around text-center" >
  <%= link_to lists_path do %>
    <i class="fa-sharp fa-solid fa-house"></i>
  <% end %>
  <%= link_to lists_path do %>
    <i class="fa-solid fa-calendar-days"></i>
  <% end %>
  <%= link_to lists_path do %>
    <i class="fa-solid fa-wallet"></i>
  <% end %>
  <%= link_to user_path(current_user) do %>
    <i class="fa-solid fa-user"></i>
  <% end %>
</div>
