<div class="d-flex justify-content-around" id="footer">
  <i class="fa-sharp fa-solid fa-house"></i>
  <i class="fa-solid fa-calendar-days"></i>
  <i class="fa-solid fa-wallet"></i>
  <i class="fa-solid fa-user"></i>
</div>
