<div class="home-page">
  <div class="box">
        <div class="card">
            <h1>Welcome to HOMIE</h1>
            <p>Homemaking made easy</p>
            <p>Let us take care of the boring stuff, so you don't have to.</p>
        </div>
  </div>
  <%# <%= link_to lists_path(lists), class:"text-decoration-none" do %>
</div>
