<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="home-page">
        <h1>Welcome to HOMIE</h1>
        <p>Homemaking made easy</p>
        <p>Let us take care of the boring stuff, so you don't have to.</p>

        <%# <%= link_to lists_path(lists), class:"text-decoration-none" do %>
      </div>
    </div>
  </div>
</div>
