.btn-create-list {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fbaf16, #c47f0f);
  transition: 0.3s ease;
  border: 1px solid #c47f0f;
  width: 92%;
  margin-bottom: 20px;
}

.btn-create-list:hover {
  background: linear-gradient(#fbaf16, #c47f0f);
  color: white;
}

#submit-btn {
  width: 100%;
}

#btn-show-page {
  background: linear-gradient(#fbaf16, #c47f0f);
  transition: 0.3s ease;
  border: 1px solid #c47f0f;
  margin: 10px;
}
