.footer{
  position: sticky;
  bottom: 0em;
  height: 80px;
  font-size: 35px;
  width: 100%;
  text-decoration: none;
  padding-top: 14px;
  background: linear-gradient(rgba(255, 200, 221, 1), rgba(255, 200, 221, 1));
}

.footer a {
  color: purple;
}
